name: "units-test"
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      JAVASCRIPTKIT_WASI_BACKEND: Node
    steps:
    - uses: actions/checkout@v6
    - name: Install prerequisites
      run: sudo apt-get -q update && sudo apt-get install -y binutils git gnupg2 libc6-dev libcurl4-openssl-dev libedit2 libgcc-9-dev libpython3.8 libsqlite3-0 libstdc++-9-dev libxml2-dev libz3-dev pkg-config tzdata unzip zlib1g-dev curl
    - name: Install Swift toolchain
      uses: ./.github/actions/install-swift
      with:
        download-url: https://download.swift.org/development/ubuntu2204/swift-DEVELOPMENT-SNAPSHOT-2025-12-01-a/swift-DEVELOPMENT-SNAPSHOT-2025-12-01-a-ubuntu22.04.tar.gz
    - run: swift --version
    - uses: ./
      id: setup-swiftwasm
      with:
        target: wasm32-unknown-wasip1-threads
    - run: |
        mkdir -p /tmp/hello
        cd /tmp/hello
        swift package init --type executable
        swift build --swift-sdk "${{ steps.setup-swiftwasm.outputs.swift-sdk-id }}"
