name: "units-test"
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    container: swift:6.0.3
    steps:
    - uses: actions/checkout@v6
    - run: swift --version
    - uses: ./
      id: setup-swiftwasm
    - run: |
        mkdir -p /tmp/hello
        cd /tmp/hello
        swift package init --type executable
        swift build --swift-sdk "${{ steps.setup-swiftwasm.outputs.swift-sdk-id }}"
